/* Importing webfonts */
/* (If you're learning CSS, you should disregard that) */

@import url(https://fonts.googleapis.com/css?family=Yeseva+One);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,700italic,400italic);


/* CSS reset rules */

body {
	display: flex;
    flex-direction: column ;
}
main {
	display: flex;
    flex-direction: row ;
    flex: auto
}
article{
    flex: 4;
    overflow-y: auto
}
aside{
    flex: 1;
    overflow-y: auto
}